<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<filter>
		<filter-name>SparkGuiceFilter</filter-name>
		<filter-class>com.devng.spark.guice.SparkGuiceFilter</filter-class>
		<init-param>
			<param-name>applicationClass</param-name>
			<param-value>com.devng.spark.SparkApp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SparkGuiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
